@model IHiloFullView
@inject IMediaService mediaService
@{
    ViewData["Title"] = $"Twitzed {Model.Hilo.Titulo}";
}


<script>
    window.data = @Json.Serialize(Model)
</script> 
<main id="svelte"></main>